.slice{
    background-color: rgb(47, 47, 47);
    margin: 10px;
    border-style: solid;
    border-radius: 3px;
    border: 3px;
    position: relative;
    animation-name: startar2;
    animation-duration: 200ms;
    padding: 5px;   
    padding-bottom: 10%;
    top: 50px;
    left: 25px;
    width: 45%;
   height: 40%;
   display: inline-flex;
}
.divisor{
  border-left: 1px;
  border-bottom: 0px;
  border-top: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: aliceblue;
}
.kkpaz{
border-style: solid;
border-color: aliceblue;
background-color: rgb(47, 47, 47);
display:inline-flex;
position: fixed;
right: 0;
top:0;
padding-right: 3%;
padding-left: 3%;
padding-top: 1.5%;
padding-bottom: 0.8%;
}
.right{
    background-color: rgb(47, 47, 47);
    display:inline-flex;
    position:  absolute;
    left:76.7%;
    top:0;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1.5%;
    padding-bottom: 0.8%;
  }
  .right.left{
    left:67.7%;
  }
  body{
    counter-reset: section;
    counter-reset: second;
    counter-reset: third;
    counter-reset: fourth;
  }
  .counter::before{
    counter-increment: section;
    content:  counter(section) ". ";
  }
  .counter2::before{
    counter-increment: second;
    content:  counter(second) ". ";
  }
  .counter3::before{
    counter-increment: third;
    content: counter(third) ". ";
  }
  .counter4::before{
    counter-increment: fourth;
    content: counter(fourth) ". ";
  }
  .img{
    position: absolute;
    width: 40%;
    height: 60%;
    right: 30%;
    top: 20%;
  }